<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./images/favicon-32x32.png" type="image/x-icon"/>
    <title>pixabay</title>
    <link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/custom.css">
    
    
</head>
<body>
    
          
          <section>
              <table class="table table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th>name</th>
                          <th>age</th>
                          <th>sal</th>
                          <th>company</th>
                          <th>location</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr><th>teja</th>
                      <th>21</th>
                      <th>20000</th>
                      <th>cts</th>
                      <th>hyd</th></tr>
                      <tr><th>sai</th>
                      <th>22</th>
                      <th>22000</th>
                      <th>cts</th>
                      <th>chennai</th></tr>
                      <tr><th>sree</th>
                      <th>23</th>
                      <th>23000</th>
                      <th>cts</th>
                      <th>banglr</th></tr>
                      <tr><th>sai</th>
                      <th>24</th>
                      <th>24000</th>
                      <th>cts</th>
                      <th>pune</th></tr>
                  </tbody>

              </table>
          </section>
    </section>
    <script src="../js/jquery-3.4.1.js">
    </script>
    <script src="../js/popper.min.js"></script>
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    
</body>
</html>
